<settings>
	<localRepository>C:/ARQ-SDK/${env.USERNAME}/.m2/repository</localRepository>
	<mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*,!nexus-public-m1,!nexus-releases,!nexus-snapshots,!nexus-tst-snapshots,!nexus-usu-snapshots,!nexus-pro-snapshots,!nexus-tag-usu-snapshots,!nexus-tag-pro-snapshots</mirrorOf>
			<url>http://10.232.225.42:8081/nexus/content/groups/public</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>nexus-gen</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>false</enabled></snapshots>
					<id>nexus-releases</id>
					<name>nexus-releases</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/releases</url>
				</repository>
				<repository>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>false</enabled></snapshots>
					<id>nexus-public-m1</id>
					<name>nexus-public-m1</name>
					<url>http://10.232.225.42:8081/nexus/content/groups/public-m1/</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
					<id>nexus-releases</id>
					<name>nexus-releases</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/releases</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-snapshots</id>
					<name>nexus-snapshots</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
  		<profile>
			<id>nexus-tst</id>
			<activation>
				<activeByDefault>true</activeByDefault>
				<file>
				  <exists>${basedir}/../.tst</exists>
				</file>
			</activation>
			<repositories>
				<repository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-tst-snapshots</id>
					<name>nexus-tst-snapshots</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots-tst</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-tst-snapshots</id>
					<name>nexus-tst-snapshots</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots-tst</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>nexus-usu</id>
			<activation>
				<activeByDefault>false</activeByDefault>
				<file>
				  <exists>${basedir}/../.usu</exists>
				</file>
			</activation>
			<repositories>
				<repository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-usu-snapshots</id>
					<name>nexus-usu-snapshots</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots-usu</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-usu-snapshots</id>
					<name>nexus-usu-snapshots</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots-usu</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>nexus-pro</id>
			<activation>
				<activeByDefault>false</activeByDefault>
				<file>
				  <exists>${basedir}/../.pro</exists>
				</file>
			</activation>
			<repositories>
				<repository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-pro-snapshots</id>
					<name>nexus-pro-snapshots</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots-pro</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-pro-snapshots</id>
					<name>nexus-pro-snapshots</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots-pro</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>nexus-tag-usu</id>
			<activation>
				<activeByDefault>false</activeByDefault>
				<file>
				  <exists>${basedir}/../.tag-usu</exists>
				</file>
			</activation>
			<repositories>
				<repository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-tag-usu-snapshots</id>
					<name>nexus-tag-usu-snapshot</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots-tag-usu</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-tag-usu-snapshots</id>
					<name>nexus-tag-usu-snapshot</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots-tag-usu</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>nexus-tag-pro</id>
			<activation>
				<activeByDefault>false</activeByDefault>
				<file>
				  <exists>${basedir}/../.tag-pro</exists>
				</file>
			</activation>
			<repositories>
				<repository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-tag-pro-snapshots</id>
					<name>nexus-tag-pro-snapshot</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots-tag-pro</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					  </snapshots>
					<id>nexus-tag-pro-snapshots</id>
					<name>nexus-tag-pro-snapshot</name>
					<url>http://10.232.225.42:8081/nexus/content/repositories/snapshots-tag-pro</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>