<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<appender name="console2" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m" />
		</layout>
	</appender>

	<logger name="org.andresoviedo.apps.installer.util.io.IOHelper$StreamGobbler"
		additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console2" />
	</logger>

	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>